[wiki]
ignore_missing_pages = false
split_page_names = true
default_lang = en

[changeset] 
max_diff_bytes = 10000000
wiki_format_messages = true
max_diff_files = 0
<% if navadd %>
[navadd]
add_items = reports, simpleticket
reports.target = mainnav
reports.title = Tickets
<% if slash %>
reports.url = /wiki/Reports
<% else %>
reports.url = /trac/<%=name%>/wiki/Reports
<% end %>
simpleticket.target = mainnav
simpleticket.title = New Ticket
<% if slash %>
simpleticket.url = /simpleticket
<% else %>
simpleticket.url = /trac/<%=name%>/simpleticket
<% end %>
<% end %>
[search]
min_query_length = 3

[header_logo]
src = <%= logo %>
alt = <%= alt %>
height = 73
width = 236
link = <%= url %>

[logging]
log_file = trac.log
log_level = DEBUG
log_type = none

[trac]
default_charset = iso-8859-15
ignore_auth_case = false
permission_store = DefaultPermissionStore
check_auth_ip = true
authz_module_name = 
base_url = <%= url %>
htdocs_location =
request_filters = None
<% if navadd %>
mainnav = wiki,timeline,browser,reports,-tickets,-newticket,simpleticket,search,-roadmap
metanav = -about,login,logout,settings
<% else %>
metanav = login,logout,settings,help,about
<% end %>
authz_file =  
templates_dir = <%= templates %>
repository_dir = <%= repo %>
repository_type = <%= repostype %>
htdocs_location = /tracdocs/
database = <%= db %>
;default_handler = TagsWikiModule

[notification]
smtp_enabled = true
smtp_replyto = <%= replyto %>
smtp_always_cc = <%= cc %>
smtp_server = <%= smtpserver %>
smtp_from = <%= from %>
smtp_server = localhost
smtp_port = 25
smtp_password =
always_notify_owner = true
always_notify_reporter = true
use_tls = false
smtp_always_bcc =
mime_encoding = base64
use_public_cc = false
smtp_user =
use_short_addr = false
smtp_default_domain =

[project]
url = <%= url %>
footer =  Visit the Trac open source project at<br /><a href="http://trac.edgewall.com/">http://trac.edgewall.com/</a>
name = <%= name %>
descr = <%= description %>
;icon = <%= url %>/favicon.ico

[mimeviewer]
enscript_modes = text/x-dylan:dylan:4
max_preview_size = 262144
php_path = php
enscript_path = enscript
silvercity_modes =
mime_map = text/x-dylan:dylan,text/x-idl:ice,text/x-ada:ads:adb
tab_width = 8

[attachment]
render_unsafe_content = false
max_size = 262144

[timeline]
changeset_show_files = 0
ticket_show_details = false
default_daysback = 30
changeset_long_messages = false

[diff]
tab_width = 8

[ticket]
default_version =
default_severity = normal
default_component = library
default_priority = normal
default_milestone =
restrict_owner = false

[browser]
hide_properties = svk:merge
downloadable_paths = /trunk, /branches/*, /tags/*

[components]
acct_mgr.admin.AccountManagerAdminPage = enabled
acct_mgr.api.accountmanager = enabled
acct_mgr.htfile.HtPasswdStore = enabled
acct_mgr.web_ui.AccountModule = enabled
acct_mgr.web_ui.LoginModule = enabled
acct_mgr.web_ui.RegistrationModule = enabled
trac.web.auth.LoginModule = disabled
trac.wiki.web_ui.wikimodule = enabled
tractags.* = enabled
webadmin.* = enabled
tracnav.* = enabled
wikinotification.* = enabled
wikinegotiator.* = enabled
simpleticket.* = enabled
navadd.* = enabled
navhider.* = enabled
tracbzr.* = enabled
gitplugin.* = enabled

[account-manager]
password_store = HtPasswdStore
password_file = <%= tracdir %>/conf/htpasswd 

[ticket-custom]
stage = select
stage.label = Triage Stage
stage.options = Unreviewed|Needs more info|Needs design decision|Accepted|Ready for checkin
stage.order = 5
stage.value = 0

approval = select
approval.label = State of Approval
approval.options = Unnecessary|Proposed|For|Against|Approved|Denied
approval.order = 15
approval.value = 0

patch = select
patch.label = Attached Patches
patch.options = None|Code|Tests|Insufficient
patch.order = 20
patch.value = 0

complexity = select
complexity.label = Complexity
complexity.options = Unknown|Trivial|Easy|Medium|Hard
complexity.order = 25
complexity.value = 0

compatibility = select
compatibility.label = Compatibility
compatibility.options = Unknown|Full|Limited|Breaks
compatibility.order = 30
compatibility.value = 0

specification = select
specification.label = Specification
specification.options = Unnecessary|None|Initial|Complete
specification.order = 35
specification.value = 0

[simpleticket]
hide = stage,complexity,compatibility,approval,milestone,severity,priority,specification,owner
